/*
// This file is part of local_checkmarkreport for Moodle - http://moodle.org/
//
// It is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// It is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// If not, see <http://www.gnu.org/licenses/>.
*/

/**
 * CSS for checkmarkreport
 *
 * @package       local_checkmarkreport
 * @author        Andreas Hruska (andreas.hruska@tuwien.ac.at)
 * @author        Katarzyna Potocka (katarzyna.potocka@tuwien.ac.at)
 * @author        Philipp Hager
 * @copyright     2014 Academic Moodle Cooperation {@link http://www.academic-moodle-cooperation.org}
 * @license       http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

/** General Styles **/
div.scrollforced {
    width:100%;
    overflow-x:scroll;
}

span.downloadlink {
    margin-left:1em;
    margin-right:1em;
    margin-bottom:2em;
}

#checkmarkreporttable table.coloredrows .hiddencol .hidecol,
#checkmarkreporttable table.coloredrows .showcol,
#checkmarkreporttable table.coloredrows .hiddencol .content {
    display:none;
}

#checkmarkreporttable table.coloredrows .hiddencol .showcol,
#checkmarkreporttable table.coloredrows .hidecol,
#checkmarkreporttable table.coloredrows .content {
    display:block;
    display:inline;
    white-space:nowrap;
}

#checkmarkreporttable table.coloredrows .hiddencol {
    margin:0px;
    padding:0px;
}

#checkmarkreporttable table.coloredrows .hidecol {
    margin-left:3px;
}

#checkmarkreporttable table.coloredrows.userview th.cell {
    text-align:center;
}

#checkmarkreporttable table.coloredrows,
#checkmarkreporttable table.coloredrows th,
#checkmarkreporttable table.coloredrows td {
    border: 1px solid #BBB;
}

#checkmarkreporttable table.coloredrows .r0 {
    background-color: #f0f0f0;
    white-space:nowrap
}

#checkmarkreporttable table.coloredrows .r1 {
    background-color: #fafafa;
    white-space:nowrap
}

#checkmarkreporttable table.coloredrows td {
    text-align:center;
}

#checkmarkreporttable table.coloredrows td.fullnameuser,
#checkmarkreporttable table.coloredrows td.email {
    text-align:left;
}

#checkmarkreporttable .overview .current, #checkmarkreporttable .useroverview .current {
    background: #f3e4c0;
}

#checkmarkreporttable .yui3-overlay {
    background-color: #ffee69;
    border-color: #d4c237 #a6982b #a6982b;
    border-style: solid;
    border-width: 1px;
    font-size: 0.7em;
    left: 0;
    padding: 2px 5px;
]

/*#checkmarkreporttable .tooltip::before {
    content: attr(data-tip) ;

    font-size: 10px;
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom:9999px;
    left: 50%;
    background:#000;
    color:#e0e0e0;
    padding:0px 7px;
    line-height: 24px;
    height: 24px;

    opacity: 0;
    transition:opacity 0.4s ease-out;
    }

#checkmarkreporttable .tooltip:hover::before {
    opacity: 1;
    bottom:-35px;
    }*/